@tailwind base;
@tailwind components;
@tailwind utilities;

  
::-webkit-scrollbar{
    width: 8px;
    height: 1px;
   
}
::-webkit-scrollbar-thumb{
    border-radius: 8px;
    width: 5px;
    color: red;
    background-color: #00F5D4;
}   

.swiper-pagination-bullet {
    background-color: gray; 
  }
  
  .swiper-pagination-bullet-active {
    background-color: #00F5D4; 
  }
  
.wrapper{
  z-index: 999999999999 !important;
}

.select{
  background: linear-gradient(to left, black 20%, rgba(0, 0, 0, 0.7) 20%);

}